body {
  background: white;
}
p {
  color: black;
}

.top {
  background: skyblue;
 
}

h1 {
  text-align: center;
}
h4 {
  font-weight: lighter;
  text-align: center;
  
}

.divider {
  background: lightgrey; 
  
}

